@{
    Layout = "~/Views/Shared/frontlayout.cshtml";
}

<div id="containerInner">
    <div id="content" class="visionMainContent">
        <div class="fullSection vision">
            <h1>@SharedRess.SharedStrings.visionmision</h1>
        </div>
        <div class="article articleFirst">
            <img class="alignLeft" src="@ViewBag.MisyonResim" alt="@ViewBag.MisyonResimTag" align="left" style="width:175px;height:175px;"/>
            <div class="visionContent">
                <h2>@SharedRess.SharedStrings.vision</h2>
                    @Html.Raw(ViewBag.VizyonContent)
            </div>
        </div>
        <div class="article">
            <img class="alignLeft" src="@ViewBag.VizyonResim" alt="@ViewBag.VizyonResimTag" align="left" style="width:175px;height:175px;"/>
            <div class="visionContent">
                <h2>@SharedRess.SharedStrings.mision</h2>
                    @Html.Raw(ViewBag.MisyonContent)
            </div>
        </div>
    </div>
</div>
