@model IEnumerable<DAL.Entities.References>
@{
    ViewBag.Title = @SharedRess.SharedStrings.references;
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
<div id="containerInner">
    <div id="content">
        <div class="fullSection">
            <h1>@SharedRess.SharedStrings.references.ToUpper()</h1>
        </div>
        <div class="references">
            @*<h2>@SharedRess.SharedStrings.ourcustomers</h2>*@
            <div class="article referenceArticle">
                <p>
                    @SharedRess.SharedStrings.referencestext
                </p>
            </div>
            @foreach (var item in Model)
            {
                <div class="reference referenceFirst">
                    <a href="@item.Link"><img src="@item.Logo" alt="@item.ReferenceName" /></a><br />
                </div>    
            }
            
        </div>
    </div>
</div>
