@model web.Models.SectorWrapperModel
@{
    ViewBag.Title = @SharedRess.SharedStrings.sectors;
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
<div id="content">
    <div class="servicesContent">
        <div class="serviceImage">
            <img src="../images/serviceImage.jpg" alt="servisler" />
        </div>
        <h1 class="services">@SharedRess.SharedStrings.sectors.ToUpper()</h1>
        <div class="servicesLeftContent sectors">
            <ul class="serviceList">
                <li class="sectorFirst">@SharedRess.SharedStrings.sectors
                    <ul class="subServiceList">
                        @foreach (var item in Model.sectorgroups)
                        {
                            <li>@item.GroupName</li>                
                        }
                    </ul>
                </li>
            </ul>
        </div>
        <div class="servicesRightContent">
            @foreach (var item in Model.sectorgroups)
            {
                <div class="serviceContent2">
                    <h3>@item.GroupName</h3>
                    <img src="@item.SectorGroupLogo" alt="@item.GroupName" />
                    @Html.Raw(item.GroupContent)
                </div>
            }
        </div>
    </div>
</div>
