@model web.Models.EstateWrapperModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
<style type="text/css">
    .input-validation-error {
        border: solid 1px red !important;
    }
    .highlightsDetailLeft {width: 577px;}
</style>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="/js/jquery.colorbox-min.js"></script>

@*<link href="~/css/colorbox.css" rel="stylesheet" />*@
<script type="text/javascript">$(document).ready(function () {
    $('.bxsliderGallery').bxSlider({
        pagerCustom: '#bx-pager',
        auto: true
    });
    $(".itemVal").each(function () {
        if ($(this).html() == ": ") {
            $(this).next().remove();
            $(this).prev().remove();
            $(this).remove();
        }
    });
    $(".inline").colorbox({ width: "60%", height: "300px", inline: true, href: "#inline_content" });

})</script>
<div id="containerInner">
    <div id="content">
        <div class="highlightsDetail">
            <h1>@Model.estate.Header</h1>
        </div>
        <div class="highlightsDetailContent">
            <div class="highlightsDetailLeft">
                <div class="imageGallery">
                    <ul class="bxsliderGallery">
                        @for (int i = 0; i < Model.photos.Count(); i++)
                        {
                            <li>
                            <img src="@Model.photos[i].Thumbnail" width="577" height="296" alt="@Model.estate.Header" /></li>
                        }

                    </ul>
                    <div id="bx-pager">

                        @for (int i = 0; i < Model.photos.Count(); i++)
                        {
                            <a data-slide-index="@i" href=""> <img width="108" height="59" src="@Model.photos[i].Thumbnail" /> </a> 
                        }
                    </div>
                </div>
                <div class="itemTitle" style="padding:15px;display: inline-block;"> 
                    @Html.Raw(Model.estate.Content)
                </div>
            </div>
            <div class="highlightsDetailRight">
                <span class="itemTitle">@SharedRess.SharedStrings.ilanno</span><span class="itemVal">: @Model.estate.ReferenceNo</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.tarih</span><span class="itemVal">: @Model.estate.TimeCreated</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.tip</span><span class="itemVal">: 

                    @if (Model.estate.TypeId == 0)
                    {
                        @SharedRess.SharedStrings.isyeri
                    }else if (Model.estate.TypeId == 1)
                    {
                        @SharedRess.SharedStrings.arsa
                    }else if (Model.estate.TypeId == 2)
                    {
                        @SharedRess.SharedStrings.konut
                    }else if (Model.estate.TypeId == 4)
                    {
                        @SharedRess.SharedStrings.parakende
                    }
                    else if (Model.estate.TypeId == 5)
                    {
                        @SharedRess.SharedStrings.sanayivelojistik
                    }
                    else if (Model.estate.TypeId == 6)
                    {
                        @SharedRess.SharedStrings.otelveagirlama
                    }
                    else if (Model.estate.TypeId == 7)
                    {
                        @SharedRess.SharedStrings.digerlukskonut
                    }
                </span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.tipemlak</span><span class="itemVal">:
                    @if (Model.estate.TransactionId == 0)
                    {
                        @SharedRess.SharedStrings.kiralik
                    }
                    else if (Model.estate.TransactionId == 1)
                    {
                        @SharedRess.SharedStrings.satilik
                    }
                </span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.fiyat</span><span class="itemVal">: @string.Format("{0:0}", Model.estate.Price) @Model.estate.PriceTypeId</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.brutalan</span><span class="itemVal">: @Model.estate.Size</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.netalan</span><span class="itemVal">: @Model.estate.NetAlan</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.bulunduguarsa </span><span class="itemVal">: @Model.estate.BulunduguArsa</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.binatamanalani </span><span class="itemVal">: @Model.estate.BinaTabanAlani</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.oda </span><span class="itemVal">: @Model.estate.RoomNumber</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.banyowc </span><span class="itemVal">: @Model.estate.BanyoWc</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.binaninyasi </span><span class="itemVal">: @Model.estate.Age</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.binadakikatsayisi </span><span class="itemVal">: @Model.estate.BinaKatSayisi</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.bulundugukat </span><span class="itemVal">: @Model.estate.BulunduguKat</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.cepheyon </span><span class="itemVal">: @Model.estate.CepheYon</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.isinmatipi </span><span class="itemVal">: @Model.estate.IsınmaTipi</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.yakittipi </span><span class="itemVal">: @Model.estate.YakitTipi</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.otopark </span><span class="itemVal">: @Model.estate.Otopark</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.yapinindurumu </span><span class="itemVal">: @Model.estate.YapininDurumu</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.kullanimdurumu </span><span class="itemVal">: @Model.estate.KullanimDurumu</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.tapudurumu </span><span class="itemVal">: @Model.estate.TapuDurumu</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.depozito </span><span class="itemVal">: @Model.estate.Depozito</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.aidatyonetim </span><span class="itemVal">: @Model.estate.AidatYonetim</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.devren </span><span class="itemVal">: @Model.estate.Devren</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.takas </span><span class="itemVal">: @Model.estate.Takas</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.krediyeuygunluk </span><span class="itemVal">: @Model.estate.KrediDurumu</span><br class="clear">
                <span class="itemTitle">@SharedRess.SharedStrings.kiragetirisi </span><span class="itemVal">: @Model.estate.KiraGetirisi</span><br class="clear">
                @*<span class="itemTitle">Bulunduğu Arsa </span><span class="itemVal">: 880 m2</span><br class="clear">*@
                @*<span class="itemTitle">Yapının Tipi</span><span class="itemVal">: Villa</span><br class="clear">*@
                @*<span class="itemTitle">Yapı Durumu </span><span class="itemVal">: Betonerme Karkas</span><br class="clear">*@
                @*<span class="itemTitle">Brüt Alan </span><span class="itemVal">:  450 m2</span><br class="clear">*@
                @*<span class="itemTitle">Banyo </span><span class="itemVal">: 3</span><br class="clear">*@
                @*<span class="itemTitle">Kat Sayısı </span><span class="itemVal">: 4</span><br class="clear">*@
                @*<span class="itemTitle">Bulunduğu Kat </span><span class="itemVal">: Komple</span><br class="clear">*@
                @*<span class="itemTitle">Bina Taban Alanı </span><span class="itemVal">: 120m2</span><br class="clear">*@
                @*<span class="itemTitle">Otopark</span><span class="itemVal">: 5 araç</span><br class="clear">*@
                @*<span class="itemTitle">Kredi Durumu </span><span class="itemVal">: 3 yıl</span><br class="clear">*@
                @*<span class="itemTitle">Tapu Türü </span><span class="itemVal">: Hisseli tapu</span><br class="clear">*@
                <span class="itemTitle">@SharedRess.SharedStrings.aciklama</span><div class="clear"></div><span class="itemVal">
                    <textarea maxlength="300" class="explain"></textarea>
                </span>
                <br class="clear">
                @if (ViewBag.Lang == "tr")
                {
                    <a href="/tr/iletisim-bilgileri" class="contactBtn">@SharedRess.SharedStrings.contactBtn</a>
                }
                else
                {
                    <a href="/en/contact-details" class="contactBtn">@SharedRess.SharedStrings.contactBtn</a>
                }
                <p><a class="inline cboxElement" href="#inline_content">@SharedRess.SharedStrings.sendingother</a></p>
                <div style="display: none">
                    <div id='inline_content' style='padding: 10px; background: #fff;'>
                        <div class="dialogBox">
                            <div class=""><span class="dialogTitle">@SharedRess.SharedStrings.tavsiyeet</span></div>
                            <div id="dialog">
                                @* <form action="#" method="post" id="frmMailFriend">*@
                                @using (Ajax.BeginForm("SendMail",
                   new AjaxOptions
                   {
                       HttpMethod = "POST",
                       UpdateTargetId = "mailresult",
                       OnBegin = "StartSending",
                       OnFailure = "FailureSend",
                       OnSuccess = "SuccessSend",
                       InsertionMode = InsertionMode.Replace
                   }))
                                {
                                    <div id="mailresult">
                                    </div>
                                     @Html.Hidden("ilanadi", (object)@Model.estate.Header)
                                     @Html.Hidden("ilanUrl", (object)@Request.Url)
                                   
                                    <h3>@SharedRess.SharedStrings.your</h3>
                                    <div class="dialogContent">
                                        <p>
                                            <label>@SharedRess.SharedStrings.name</label>
                                            <input type="text" name="dialogName" class="textinput" />
                                        </p>
                                        <br />
                                        <p>
                                            <label>@SharedRess.SharedStrings.surname</label>
                                            <input type="text" name="contactSurnameDialog" class="textinput">
                                        </p>
                                        <br />
                                        <p>
                                            <label>@SharedRess.SharedStrings.email</label>
                                            <input type="text" name="contactEmailDialog" class="textinput required" />
                                        </p>

                                    </div>
                                    <h3>@SharedRess.SharedStrings.friend</h3>
                                    <div class="dialogContent">
                                        <p>
                                            <label>@SharedRess.SharedStrings.fname</label>
                                            <input type="text" name="contactNameFriend" class="textinput">
                                        </p>
                                        <br />
                                        <p>
                                            <label>@SharedRess.SharedStrings.fsurname</label>
                                            <input type="text" name="contactSurFriend" class="textinput">
                                        </p>
                                        <br />
                                        <p>
                                            <label>@SharedRess.SharedStrings.femail</label>
                                            <input type="text" name="contactEmailFriend" class="textinput required">
                                        </p>


                                    </div>
                                    <br class="clear">
                                    <div class="rightDialogContent">
                                        <label>@SharedRess.SharedStrings.message</label>
                                        <textarea class="contactMessage" name="contactMessagefriend"></textarea>
                                        <br>
                                        <br>
                                    </div>
                                    <br class="clear">
                                    <div align="left">
                                        <input type="submit" name="gonderBtn" value="Gönder" class="@SharedRess.SharedStrings.send" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="contactBtn" onclick="window.print()">@SharedRess.SharedStrings.print</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function StartSending() {
        $("#mailresult").css("padding", "10px").css("background-Color", "lightblue");
        $("#mailresult").text("Gönderiliyorr..");
    }

    function FailureSend() {
        $("#mailresult").css("padding", "10px").css("background-Color", "red");
        $("#mailresult").text("Gönderim Sırasında Hata Oluştu.");
        $("#mailresult").delay(2500).fadeOut('slow');
    }
    function SuccessSend() {
        $("#mailresult").css("padding", "10px").css("background-Color", "green");
        $("#mailresult").delay(2500).fadeOut('slow');
    }

   

</script>