@model List<DAL.Entities.Estate>
@{
    ViewBag.Title = "PopularEstates";
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
<div id="containerInner">
    <div id="content">


        <div id="highlightsGeneralContent">
            <h1>@SharedRess.SharedStrings.popularestates.ToUpper()</h1>

        </div>
        <div class="highlights">

            @foreach (var item in Model)
            {
                <a href="/@SharedRess.SharedStrings.menu_culture/detay/@item.Id">
                    <div class="highlightsContent">
                        <div class="highlightsImage">
                            <a href="/@SharedRess.SharedStrings.menu_culture/detay/@item.Id">
                                <img src="@item.Photo" width="301" height="200" alt="@item.Header" /></a>
                        </div>
                        <div class="highlightsRight">
                            <div class="info">
                                <h4>@item.Header</h4>
                                <span class="location">@item.Country.Name/ @item.Town.Name/ @item.District.Name</span>
                                <span class="type">
                                    @if (item.TypeId == 0)
                                    {
                                        @SharedRess.SharedStrings.hired
                                    }else{
                                        @SharedRess.SharedStrings.sold
                                    }
                                <i>No:@item.ReferenceNo</i>
                                </span>
                                <ul class="detail">
                                    <li class="room"><i>@SharedRess.SharedStrings.roomcount:</i> @item.RoomNumber
                                    
                                    </li>
                                    <li class="area">@item.Size <i>m²</i></li>
                                    <li class="date">@item.TimeCreated</li>
                                    <li class="price">@item.Price <i>@item.PriceTypeId</i></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </a>
            }
            @*@foreach (var item in Model)
            {
                <div class="highlightsContent">
                    <div class="highlightsImage">
                        <a href="#">
                            <img src="@item.Photo" width="301" height="200" alt="@item.Header" /></a>
                    </div>
                    <div class="highlightsRight">
                        <div class="highlightsPricing"><a class="realtyName" href="#">@item.Header</a><span class="realtyPrice" style="clear: both;">@item.Price TL</span></div>
                        <div class="highlightsArticle">@Html.Raw(item.Content)</div>
                    </div>
                </div>
            }*@
        </div>
    </div>
</div>
