@model List<DAL.Entities.Estate>
@{
    ViewBag.Title = @SharedRess.SharedStrings.popularestates;
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
<script>
    $(".location").removeByContent('-Avrupa');​​
</script>
<div id="containerInner">
    <div id="content">


        <div id="highlightsGeneralContent">
            <h1>@SharedRess.SharedStrings.popularestates.ToUpper()</h1>

        </div>
        <div class="highlights">
            <p class="detailsPortfolio">@SharedRess.SharedStrings.clickonimages</p>
            @foreach (var item in Model)
            {
                <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.detail/@item.Id" style="text-decoration:none">
                    <div class="highlightsContent">
                        <div class="highlightsImage">
                            <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.detail/@item.Id" style="text-decoration:none">
                                <img src="@item.Photo" width="250" height="161" alt="@item.Header" /></a>
                        </div>
                        <div class="highlightsRight">
                            <div class="info">
                                <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.detail/@item.Id" style="text-decoration:none">
                                    <h4>@item.Header</h4>
                                </a>

                                <span class="location">@item.Country.Name/ @item.Town.Name/ @item.District.Name</span>
                                <span class="type">
                                    @if (item.TransactionId == 0)
                                    {
                                        @SharedRess.SharedStrings.hired
                                    }
                                    else
                                    {
                                        @SharedRess.SharedStrings.sold
                                    }
                                    /
                                    @if (item.TypeId == 0)
                                    {
                                        @SharedRess.SharedStrings.isyeri
                                    }
                                    else if (item.TypeId == 1)
                                    {
                                        @SharedRess.SharedStrings.arsa
                                    }
                                    else if (item.TypeId == 2)
                                    {
                                        @SharedRess.SharedStrings.konut
                                    }
                                    else if (item.TypeId == 4)
                                    {
                                        @SharedRess.SharedStrings.parakende
                                    }
                                    else if (item.TypeId == 5)
                                    {
                                        @SharedRess.SharedStrings.sanayivelojistik
                                    }
                                    else if (item.TypeId == 6)
                                    {
                                        @SharedRess.SharedStrings.otelveagirlama
                                    }
                                    else if (item.TypeId == 7)
                                    {
                                        @SharedRess.SharedStrings.digerlukskonut
                                    }
                                    else if (item.TypeId == 8)
                                    {
                                        @SharedRess.SharedStrings.plazakati
                                    }
                                    <i>No:@item.ReferenceNo</i>
                                </span>
                                <ul class="detail">
                                    <li class="room" style="width: 160px !important;"><i>@SharedRess.SharedStrings.roomcount:</i> @item.RoomNumber

                                    </li>
                                    <li class="area">@item.NetAlan <i>m²</i></li>
                                    <li class="date">@item.TimeCreated</li>
                                    <li class="price" style="width: 93px !important;">@string.Format("{0:0,0}", item.Price) <i>@item.PriceTypeId</i></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </a>
            }
            @*@foreach (var item in Model)
            {
                <div class="highlightsContent">
                    <div class="highlightsImage">
                        <a href="#">
                            <img src="@item.Photo" width="301" height="200" alt="@item.Header" /></a>
                    </div>
                    <div class="highlightsRight">
                        <div class="highlightsPricing"><a class="realtyName" href="#">@item.Header</a><span class="realtyPrice" style="clear: both;">@item.Price TL</span></div>
                        <div class="highlightsArticle">@Html.Raw(item.Content)</div>
                    </div>
                </div>
            }*@
        </div>
    </div>
</div>
