@model web.Models.AdvancedSearchModel
@{
    ViewBag.Title = @SharedRess.SharedStrings.searchestate;
    Layout = "~/Views/Shared/frontlayout.cshtml";
}

@using (Html.BeginForm("SearchEstates", "FEstates", FormMethod.Post, new { id = "searchform" }))
{
    <div id="containerInner">
        <div id="content">
            <div id="realtyContent">
                <h1>@SharedRess.SharedStrings.searchestate.ToUpper()</h1>
                <div id="advanced-search">
                    <div class="searchinput full">
                        <span>@SharedRess.SharedStrings.referenceno:</span>
                        @Html.TextBoxFor(d => d.search.referansno, new { @class = "textinput longInput" })
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="rangewrap">
                        <span>@SharedRess.SharedStrings.searchbykeyword:</span>
                        @Html.TextBoxFor(d => d.search.keyword, new { @class = "textinput longInput" })
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="searchinput">
                        <span>@SharedRess.SharedStrings.transactiontype:</span>
                        <select id="islemtipi" name="search.islemtipi" class="combobox ">
                            <option value="2">@SharedRess.SharedStrings.all</option>
                            <option value="1">@SharedRess.SharedStrings.sold</option>
                            <option value="0">@SharedRess.SharedStrings.hired</option>
                        </select>
                    </div>
                    <div class="searchinput floatright">
                        <span>@SharedRess.SharedStrings.estatetype:</span>
                        <select id="emlaktipi" name="search.emlaktipi" class="combobox " style="">
                            <option value="3">@SharedRess.SharedStrings.all</option>
                            <option value="0">@SharedRess.SharedStrings.workplace</option>
                            @*<option value="2">@SharedRess.SharedStrings.housing</option>*@
                            <option value="4">@SharedRess.SharedStrings.perakende</option>
                            <option value="5">@SharedRess.SharedStrings.sanayivelojistik</option>
                            <option value="6">@SharedRess.SharedStrings.otelveagirlama</option>
                            <option value="1">@SharedRess.SharedStrings.land</option>
                            <option value="7">@SharedRess.SharedStrings.digerlukskonut</option>
                            @*<option value="8">@SharedRess.SharedStrings.plazaofiskati</option>*@
                        </select>
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="searchinput">
                        <span>@SharedRess.SharedStrings.city:</span>
                        @Html.DropDownList("search.sehir", null, @SharedRess.SharedStrings.all, new { @class = "combobox" })
                        @*<select name="search.sehir" class="combobox ">
                            <option selected="selected" value="0">@SharedRess.SharedStrings.all</option>
                            <option value="1">İstanbul-Anadolu</option>
                            <option value="2">İstanbul-Avrupa</option>
                            <option value="90">Bodrum</option>
                            <option value="91">Bolu</option>
                            <option value="107">Çeşme</option>
                            <option value="114">Muğla</option>
                        </select>*@
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="searchinput">
                        <span>@SharedRess.SharedStrings.district:</span>
                        <select id="search_ilce" name="search.ilce" class="combobox">
                            <option selected="selected" value="0">@SharedRess.SharedStrings.all</option>
                        </select>
                        @*@Html.DropDownList("search.ilce", null, @SharedRess.SharedStrings.all , new { @class="combobox" })*@
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="searchinput">
                        <span>@SharedRess.SharedStrings.locality:</span>
                        <select id="search_semt" name="search.semt" class="combobox">
                            <option selected="selected" value="0">@SharedRess.SharedStrings.all</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="rangewrap">
                        <span>@SharedRess.SharedStrings.pricerange:</span>
                        <input name="search.fiyataraligialt" type="text" maxlength="9" class="textinput small price1">
                        -
            <input name="search.fiyataraligiust" type="text" maxlength="9" class="textinput small price2">
                    </div>
                    <div class="searchinput currency">
                        <span>@SharedRess.SharedStrings.unit:</span>
                        <select name="search.parabirimi" class="combobox small " style="">
                            <option value="0">@SharedRess.SharedStrings.all</option>
                            <option value="1">TL</option>
                            <option value="2">$</option>
                            <option value="3">€</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="rangewrap">
                        <span>@SharedRess.SharedStrings.squaremeters:</span>
                        <input name="search.metrekarealt" type="text" class="textinput small">
                        -
            <input name="metrekareust" type="text" class="textinput small">
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="rangewrap">
                        <span>@SharedRess.SharedStrings.roomcount:</span>
                        <input name="search.odasayisialt" type="text" class="textinput small">
                        -
            <input name="odasayisiust" type="text" class="textinput small">
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="rangewrap">
                        <span>@SharedRess.SharedStrings.buildingage:</span>
                        <input name="search.binayasialt" type="text" class="textinput small">
                        -
            <input name="binayasiust" type="text" class="textinput small">
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="searchinput" style="width: 100%">
                        <span>@SharedRess.SharedStrings.estateconsultant:</span>
                        <select name="search.emlakdanismani" class="combobox " style="">
                            <option value="">@SharedRess.SharedStrings.pleaseselect</option>
                            @*<option value="1">Test Name</option>
                            <option value="2">Test Name</option>*@
                        </select>
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <input type="reset" value="@SharedRess.SharedStrings.resetbtn" class="resetbtn">
                    <div class="searchbtn">
                        <span class="btnlf"></span><span class="btncn">
                            <input type="submit" value="@SharedRess.SharedStrings.searchbtn">
                        </span><span class="btnrg"></span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>


            @if (ViewBag.result == null)
            {
                <ul class="searchResults">
                    <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_advancedsearch?TypeId=8">
                        <div class="serviceContent2">
                            <h3>@SharedRess.SharedStrings.isyeri </h3>
                            <img src="../images/office.jpg" alt="ofis" />
                            <p>@SharedRess.SharedStrings.officetext</p>
                        </div>
                    </a><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_advancedsearch?TypeId=4">
                        <div class="serviceContent2">
                            <h3>@SharedRess.SharedStrings.parakende</h3>
                            <img src="../images/perakende.jpg" alt="perakende" />
                            <p>@SharedRess.SharedStrings.retailtext</p>
                        </div>
                    </a><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_advancedsearch?TypeId=5">
                        <div class="serviceContent2">
                            <h3>@SharedRess.SharedStrings.sanayivelojistik</h3>
                            <img src="../images/sanayivelojistik.jpg" alt="sanayi ve lojistik" />
                            <p>@SharedRess.SharedStrings.industrylogistictext</p>
                        </div>
                    </a><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_advancedsearch?TypeId=6">
                        <div class="serviceContent2">
                            <h3>@SharedRess.SharedStrings.otelveagirlama</h3>
                            <img src="../images/otel.jpg" alt="otel ve ağırlama" />
                            <p>@SharedRess.SharedStrings.hotelentertainmenttext</p>
                        </div>
                    </a><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_advancedsearch?TypeId=1">
                        <div class="serviceContent2">
                            <h3>@SharedRess.SharedStrings.arsa</h3>
                            <img src="../images/arsa.jpg" alt="arsa" />
                            <p>@SharedRess.SharedStrings.landtext</p>
                        </div>
                    </a><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_advancedsearch?TypeId=7">
                        <div class="serviceContent2">
                            <h3>@SharedRess.SharedStrings.digerlukskonut</h3>
                            <img src="../images/lukskonut.jpg" alt="lüks konut" />
                            <p>@SharedRess.SharedStrings.hotelluxrytext</p>
                        </div>
                    </a>
                </ul>

            }
            else
            {
                if (Model.estates.Count > 0)
                {
                <ul class="searchResults">
                    @foreach (var item in Model.estates)
                    {
                        <a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.detail/@item.Id">
                            <div class="serviceContent2 extraDetail">
                                <div class="fixedImage">
                                    <img src="@item.Photo" width="130" height="110" alt="@item.Header" />
                                </div>
                                <div class="rightExtraContent">
                                    <div class="headingGroup">
                                        <h3 style="width: 330px">@item.Header</h3>
                                        <div class="clear"></div>
                                        <p class="county">@item.Town.Name, @item.Country.Name</p>
                                    </div>
                                    @Html.Raw(item.Content)
                                </div>
                            </div>
                        </a>
                    }
                </ul>
                }
                else
                {

                <ul class="searchResults">
                    <div class="detailSearchResultContent">
                        <p class="detailSearchResults">@SharedRess.SharedStrings.searchresult</p>
                        <p class="resultsArticle">
                            @Html.Raw(SharedRess.SharedStrings.searchresultstring)
                        </p>
                    </div>
                </ul>
                    { Html.RenderAction("NewPartial", "FBrifing"); }
                }
            }

            @* @if (Model.estates.Count == 0)
            {
                <b style="margin:30px;display: inline-block;">Aramanızla özdeşleşen bi kayıt bulunamadı...</b>
            }
            <ul class="searchResults">
                @foreach (var item in Model.estates)
                {
                    <li class="realtyContent">
                        <a href="/@SharedRess.SharedStrings.menu_culture/detay/@item.Id">
                            <span class="realtyImage">
                                <img src="@item.Photo" height="106" width="160" alt="kiralık" />
                            </span>
                            <span class="realtyPricing">Kiralık</span>
                            <span class="realtyPrice">@item.Price @item.PriceTypeId</span>
                            <span class="realtyState">(İstanbul-Avrupa/Beşiktaş/Bebek)</span>
                        </a>
                    </li>
                }
            </ul>*@
        </div>
    </div>
}
<script>
    $(function () {
        $(".resetbtn").click(function () {
            location.reload();
        });
        if ("@ViewBag.islemtipi" != "") {
            $("#islemtipi").val("@ViewBag.islemtipi");
        }

        if ("@ViewBag.emlaktipi" != "") {
            $("#emlaktipi").val("@ViewBag.emlaktipi");
        }
        $("#search_sehir").change(function () {
            var listvalue = $(this).val();
            if (listvalue != "") {

                $.getJSON('@Url.Action("GetTowns", "FEstates")', { listid: listvalue }, function (result) {

                    var listB = $('#search_ilce');
                    listB.empty();
                    listB.append(
                            $('<option/>', {
                                value: "",
                                text: "Tümü"
                            })
                        );
                    $.each(result, function (index, item) {
                        listB.append(
                            $('<option/>', {
                                value: item.Id,
                                text: item.Name
                            })
                        );
                    });
                });
            } else {
                $('#search_ilce').empty();
                $('#search_ilce').append($('<option/>', { value: "", text: "Tümü" }));
                $('#search_semt').empty();
                $('#search_semt').append($('<option/>', { value: "", text: "Tümü" }));
            }
        });

        $("#search_ilce").change(function () {
            var listvalue = $(this).val();
            if (listvalue != "") {

                $.getJSON('@Url.Action("GetDistricts", "FEstates")', { listid: listvalue }, function (result) {

                    var listB = $('#search_semt');
                    listB.empty();
                    listB.append(
                            $('<option/>', {
                                value: "",
                                text: "Tümü"
                            })
                        );
                    $.each(result, function (index, item) {
                        listB.append(
                            $('<option/>', {
                                value: item.Id,
                                text: item.Name
                            })
                        );
                    });
                });
            } else {
                $('#search_semt').empty();
                $('#search_semt').append($('<option/>', { value: "", text: "Tümü" }));
            }
        });
    });
</script>
