@model web.Models.AdvancedSearchModel
@{
    ViewBag.Title = "SearchEstates";
    Layout = "~/Views/Shared/frontlayout.cshtml";
}

@using (Html.BeginForm("SearchEstates", "FEstates", FormMethod.Post, new { id="searchform" }))
{
    <div id="containerInner">
        <div id="content">
            <div id="realtyContent">
                <h1>@SharedRess.SharedStrings.searchestate</h1>
                <div id="advanced-search">
                    <div class="searchinput full">
                        <span>@SharedRess.SharedStrings.referenceno:</span>
                        @Html.TextBoxFor(d => d.search.referansno, new { @maxlength = "4", @class = "textinput longInput" })
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="rangewrap">
                        <span>@SharedRess.SharedStrings.searchbykeyword:</span>
                        @Html.TextBoxFor(d => d.search.keyword, new { @class = "textinput longInput" })
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="searchinput">
                        <span>@SharedRess.SharedStrings.transactiontype:</span>
                        <select name="search.islemtipi" class="combobox ">
                            <option value="0">@SharedRess.SharedStrings.all</option>
                            <option value="2">@SharedRess.SharedStrings.sold</option>
                            <option value="1">@SharedRess.SharedStrings.hired</option>
                        </select>
                    </div>
                    <div class="searchinput floatright">
                        <span>@SharedRess.SharedStrings.estatetype:</span>
                        <select name="search.emlaktipi" class="combobox " style="">
                            <option selected="selected" value="0">@SharedRess.SharedStrings.all</option>
                            <option value="1">@SharedRess.SharedStrings.workplace</option>
                            <option value="2">@SharedRess.SharedStrings.land</option>
                            <option value="3">@SharedRess.SharedStrings.housing</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="searchinput">
                        <span>@SharedRess.SharedStrings.city:</span>
                        @Html.DropDownList("search.sehir", null, @SharedRess.SharedStrings.all , new { @class="combobox" })
                        @*<select name="search.sehir" class="combobox ">
                            <option selected="selected" value="0">@SharedRess.SharedStrings.all</option>
                            <option value="1">İstanbul-Anadolu</option>
                            <option value="2">İstanbul-Avrupa</option>
                            <option value="90">Bodrum</option>
                            <option value="91">Bolu</option>
                            <option value="107">Çeşme</option>
                            <option value="114">Muğla</option>
                        </select>*@
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="searchinput">
                        <span>@SharedRess.SharedStrings.district:</span>
                        @*<select name="search.ilce" class="combobox ">
                        </select>*@
                        @Html.DropDownList("search.ilce", null, @SharedRess.SharedStrings.all , new { @class="combobox" })
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="searchinput">
                        <span>@SharedRess.SharedStrings.locality:</span>
                        <select name="search.semt" class="combobox ">
                        </select>
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="rangewrap">
                        <span>@SharedRess.SharedStrings.pricerange:</span>
                        <input name="search.fiyataraligialt" type="text" maxlength="9" class="textinput small price1">
                        -
            <input name="search.fiyataraligiust" type="text" maxlength="9" class="textinput small price2">
                    </div>
                    <div class="searchinput currency">
                        <span>@SharedRess.SharedStrings.unit:</span>
                        <select name="search.parabirimi" class="combobox small " style="">
                            <option value="0">@SharedRess.SharedStrings.all</option>
                            <option value="1">TL</option>
                            <option value="2">$</option>
                            <option value="3">€</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="rangewrap">
                        <span>@SharedRess.SharedStrings.squaremeters:</span>
                        <input name="search.metrekarealt" type="text" class="textinput small">
                        -
            <input name="metrekareust" type="text" class="textinput small">
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="rangewrap">
                        <span>@SharedRess.SharedStrings.roomcount:</span>
                        <input name="search.odasayisialt" type="text" class="textinput small">
                        -
            <input name="odasayisiust" type="text" class="textinput small">
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="rangewrap">
                        <span>@SharedRess.SharedStrings.buildingage:</span>
                        <input name="search.binayasialt" type="text" class="textinput small">
                        -
            <input name="binayasiust" type="text" class="textinput small">
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <div class="searchinput" style="width: 100%">
                        <span>@SharedRess.SharedStrings.estateconsultant:</span>
                        <select name="search.emlakdanismani" class="combobox " style="">
                            <option value="">@SharedRess.SharedStrings.pleaseselect</option>
                            <option value="1">Test Name</option>
                            <option value="2">Test Name</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                    <div class="seperator"></div>
                    <input type="reset" value="Temizle" class="resetbtn">
                    <div class="searchbtn">
                        <span class="btnlf"></span><span class="btncn">
                            <input type="submit" value="Ara">
                        </span><span class="btnrg"></span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            @if (Model.estates.Count == 0)
            {
                <b style="margin:30px;display: inline-block;">Aramanızla özdeşleşen bi kayıt bulunamadı...</b>
            }
            <ul class="searchResults">
                @foreach (var item in Model.estates)
                {
                    <li class="realtyContent">
                        <a href="#">
                            <span class="realtyImage">
                                <img src="@item.Photo" height="106" width="160" alt="kiralık" />
                            </span>
                            <span class="realtyPricing">Kiralık</span>
                            <span class="realtyPrice">@item.Price @item.PriceTypeId</span>
                            <span class="realtyState">(İstanbul-Avrupa/Beşiktaş/Bebek)</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
<script>
    $(function () {
        $(".resetbtn").click(function () {
            location.reload();
        });

        $("#search_sehir").change(function () {
            var listvalue =  $(this).val();
            $.getJSON('@Url.Action("GetTowns", "FEstates")', { listid: listvalue }, function (result) {
                
                var listB = $('#search_ilce');
                listB.empty();
                $.each(result, function (index, item) {
                    listB.append(
                        $('<option/>', {
                            value: item.Id,
                            text: item.Name
                        })
                    );
                });
            });
        });
    });
</script>