@model web.Models.ContactWrapperModel
@{
    //ViewBag.Title = @SharedRess.SharedStrings.contact;
    Layout = "~/Views/Shared/frontlayout.cshtml";
}

<div id="containerInner">
    <div id="content">
        <div class="fullSection">
            <h1>@SharedRess.SharedStrings.contactdetails</h1>
        </div>

        <div class="article">
            <div class="addressContent">
                <p><strong>@SharedRess.SharedStrings.centeroffice:</strong> @Model.contact.Address</p>
                <p><strong>@SharedRess.SharedStrings.phone:</strong> @Model.contact.Phone</p>
                <p><strong>@SharedRess.SharedStrings.email:</strong> <a href="mailto:@Model.contact.Email">@Model.contact.Email</a></p>
                <p><strong>Web:</strong> www.venueistanbul.com.tr</p>
                <div class="mapsGoogle">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3012.238707071506!2d29.051967849999997!3d40.97625355!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac7822a365319%3A0x1cca6f36ac340e33!2zR8O8emVsIFNrIE5vOjU!5e0!3m2!1str!2s!4v1394301808178" width="940" height="350" frameborder="0" style="border: 0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
