<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<!-- InstanceBegin template="/Templates/index.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Venue İstanbul - Ticari Gayrimenkul Hizmetleri.</title>
    <meta name="description" content="Ticari gayrimenkul ve lüks konut piyasasında yaratıcı, yenilikçi, müşteri odaklı ve butik tarzda hizmet veren güvenilir bir gayrimenkul firması arayanların aklına gelen ilk firma olmaktır.">
    <meta name="keywords" content="gayrimenkul, lüks konut, kiralık lüks Konut, satılık konut, satılık lüks konut, kiralık işyeri, satılık işyeri, emlak, kiralık satılık mülkler, konut, işyeri, apartman, ev, villa, daire, dubleks, tripleks, müstakil.">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/css/reset.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/supersized.css" type="text/css" media="screen" />
    <script type="text/javascript" src="~/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="~/js/supersized.3.2.7.min.js"></script>
    @*<script type="text/javascript" src="~/js/sliderCustom.js"></script>*@
    <!-- InstanceEndEditable -->
</head>
<body>
    <div id="header">
        <div id="headerContent">
            <div id="logo">
                <a href="index.html">
                    <img src="~/images/logo.png" alt="venueistanbul" /></a>
            </div>
            <div id="sitemap">
                <ul>
                    <li class="first"><a href="~/siteharitasi.html">Site Haritası</a></li>
                    <li>@Html.ActionLink("EN", "ChangeCulture", "FHome", new { lang = "en", returnUrl = this.Request.RawUrl }, null)</li>
                    <li>@Html.ActionLink("TR", "ChangeCulture", "FHome", new { lang = "tr", returnUrl = this.Request.RawUrl }, null)</li>
                </ul>
            </div>
            <div id="commercial">
                <img src="~/images/ticariHizmetler.png" alt="ticari hizmetler" /></div>
            <ul id="mainMenu">
                <li class="firstList"><a href="~/">@SharedRess.SharedStrings.homepage.ToUpper()</a></li>
                <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_aboutus">@SharedRess.SharedStrings.aboutus.ToUpper()</a>
                    <ul class="subMenu">
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_visionmision">@SharedRess.SharedStrings.visionmision</a></li>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_ourteam">@SharedRess.SharedStrings.ourteam</a></li>
                        <li><a href="~/">@SharedRess.SharedStrings.otheroperations</a></li>
                    </ul>
                </li>
                <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_ourservices">@SharedRess.SharedStrings.ourservices.ToUpper()</a>
                    <ul class="subMenu">
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_services">@SharedRess.SharedStrings.services</a></li>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_sectors">@SharedRess.SharedStrings.sectors</a></li>
                    </ul>
                </li>
                <li><a href="#">@SharedRess.SharedStrings.references.ToUpper()</a>
                    <ul class="subMenu">
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_references">@SharedRess.SharedStrings.firmsandbrands</a></li>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_whyus">@SharedRess.SharedStrings.whyus</a></li>
                    </ul>
                </li>
                <li><a href="haberler.html">@SharedRess.SharedStrings.news.ToUpper()</a>
                    <ul class="subMenu">
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_news">@SharedRess.SharedStrings.marketnews</a></li>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_onpress">@SharedRess.SharedStrings.onpress</a></li>
                    </ul>
                </li>
                <li><a href="#">@SharedRess.SharedStrings.contactus.ToUpper()</a>
                    <ul class="subMenu">
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_contactdetails">@SharedRess.SharedStrings.addressandgooglemap</a></li>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_career">@SharedRess.SharedStrings.careeropportunities</a></li>
                    </ul>
                </li>
                <li class="lastList"><a href="#">@SharedRess.SharedStrings.searchestate.ToUpper()</a><ul class="subMenu">
                    <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menupopularestates">@SharedRess.SharedStrings.featuredproperties</a></li>
                    <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_advancedsearch">@SharedRess.SharedStrings.advancedsearch</a></li>
                    <li><a href="briefbirak.html">@SharedRess.SharedStrings.leaveyourbrief</a></li>
                </ul>
                    <form action="#" method="get" class="searchForm">
                        <input type="text" name="q" id="searchform" value="@SharedRess.SharedStrings.searchinsite" onfocus="if (this.value==this.defaultValue) this.value='';" onblur="if (this.value=='') this.value=this.defaultValue;">
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <!-- InstanceBeginEditable name="content" -->

    <div id="container">
        @RenderBody()
    </div>
    <!-- InstanceEndEditable -->
    <div id="footer">
        <div class="footerInner">
            <div class="copyRight">
                <p>@SharedRess.SharedStrings.copyright</p>
                <p class="design">Design by <span class="wortec"><a href="http://www.wortec.net" target="_blank">WORTEC</a></span></p>
            </div>
        </div>
    </div>
</body>
</html>