<!DOCTYPE html>
<html lang="tr">
<!-- InstanceBegin template="/Templates/index.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- InstanceBeginEditable name="doctitle" -->
  @*  <title>Venue İstanbul - Ticari Gayrimenkul Hizmetleri.</title>*@
    <title>@Html.Raw(ViewBag.Title)</title>
    <meta name="description" content="@(MvcHtmlString.Create(ViewBag.Description))" charset="utf-8" >
    <meta name="keywords" content="@(MvcHtmlString.Create(ViewBag.Keywords))" charset="utf-8" >
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/css/reset.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/supersized.css" type="text/css" media="screen" />
    @*<script type="text/javascript" src="~/js/jquery-1.11.0.min.js"></script>*@
    <script src="~/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/js/supersized.3.2.7.min.js"></script>
    @*<script src="~/js/jquery.unobtrusive-ajax.min.js"></script>*@
    <link href="~/css/bxslider.css" rel="stylesheet" />
    <link href="~/css/colorbox.css" rel="stylesheet" />
    <script src="~/js/jquery.bxslider.min.js"></script>
    <script src="~/js/jquery.colorbox-min.js"></script>
    @*<script type="text/javascript" src="~/js/sliderCustom.js"></script>*@
    <!-- InstanceEndEditable -->
</head>
<body>
    <style>
        body {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
    <div id="header">
        <div id="headerContent">
            <div id="logo">
                <a href="~/">
                    <img src="~/images/logo.png" alt="venueistanbul" /></a>
            </div>
            <div id="sitemap">
                <ul>
                    <li class="first"><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_sitemap">@SharedRess.SharedStrings.sitemap</a></li>
                    <li>@Html.ActionLink("EN", "ChangeCulture", "FHome", new { lang = "en", returnUrl = this.Request.RawUrl }, null)</li>
                    <li>@Html.ActionLink("TR", "ChangeCulture", "FHome", new { lang = "tr", returnUrl = this.Request.RawUrl }, null)</li>
                </ul>
            </div>
            <div id="social">
			<ul>
			<li><a href="#"><img src="/images/Facebook-icon.png"></a></li>
			<li><a href="#"><img src="/images/Twitter-icon.png"></a></li>
			<li><a href="#"><img src="/images/linkedin1.png"></a></li>
			</ul>
			</div>
            <div id="commercial">

                @if (SharedRess.SharedStrings.menu_culture == "tr")
                {
                    <img src="~/images/ticariHizmetler.png" alt="ticari hizmetler" />
                }
                else
                {
                    <img src="~/Images/enticariHizmetler.png" alt="Commercial Real Estate Services" />
                }
            </div>
            <ul id="mainMenu">
                <li class="firstList"><a href="~/">@SharedRess.SharedStrings.homepage.ToUpper()</a></li>
                <li><a href="#">@SharedRess.SharedStrings.aboutus.ToUpper()</a>
                    <ul class="subMenu">

                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_aboutus">@SharedRess.SharedStrings.aboutusvenue</a></li>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_visionmision">@SharedRess.SharedStrings.visionmision</a></li>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_ourteam">@SharedRess.SharedStrings.ourteam</a></li>
                        <li><a href="~/">@SharedRess.SharedStrings.otheroperations</a></li>
                    </ul>
                </li>
                <li><a href="#">@SharedRess.SharedStrings.services.ToUpper()</a>
                    <ul class="subMenu">
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_services">@SharedRess.SharedStrings.services</a></li>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_sectors">@SharedRess.SharedStrings.sectors</a></li>
                    </ul>
                </li>
                <li><a href="#">@SharedRess.SharedStrings.references.ToUpper()</a>
                    <ul class="subMenu">
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_references">@SharedRess.SharedStrings.firmsandbrands</a></li>
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_whyus">@SharedRess.SharedStrings.whyus</a></li>
                    </ul>
                </li>
                <li><a href="#">@SharedRess.SharedStrings.news.ToUpper()</a>
                    <ul class="subMenu">
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_news">@SharedRess.SharedStrings.marketnews</a></li>
                        @* <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_onpress">@SharedRess.SharedStrings.onpress</a></li>*@
                        <li><a href="/">@SharedRess.SharedStrings.onpress</a></li>
                    </ul>
                </li>
                <li><a href="#">@SharedRess.SharedStrings.contactus.ToUpper()</a>
                    <ul class="subMenu">
                        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_contactdetails">@SharedRess.SharedStrings.addressandgooglemap</a></li>
                       @* @if (SharedRess.SharedStrings.menu_culture == "tr")
                        {
                            *@<li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_career">@SharedRess.SharedStrings.careeropportunities</a></li>
                        @*}*@
                    </ul>
                </li>
                <li class="lastList"><a href="#">@SharedRess.SharedStrings.searchestate.ToUpper()</a><ul class="subMenu">

                    <li><a id="linkfeaturedproperties" href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menupopularestates">@SharedRess.SharedStrings.featuredproperties</a></li>
                    <li><a id="linkadvancedsearch" href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_advancedsearch">@SharedRess.SharedStrings.advancedsearch</a></li>
                    <li><a id="linkleaveyourbrief" href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.brifing">@SharedRess.SharedStrings.leaveyourbrief</a></li>
                </ul>
                    @{ Html.RenderAction("_search", "FSearch"); }

                    
                </li>
            </ul>
        </div>
    </div>
    <!-- InstanceBeginEditable name="content" -->

    <div id="container">
        @RenderBody()
    </div>
    <!-- InstanceEndEditable -->
    <div id="footer">
        <div class="footerInner">
            <div class="copyRight">
                <p>© Copyright Venue İstanbul 2014</p>
                <p class="design"><span class="wortec"><a href="http://brandista.biz/" target="_blank">Agency Design</a></span> | <span class="wortec"><a href="http://www.wortec.net" target="_blank">Web Design</a></span></p>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        jQuery(function ($) {

            $('img,body,html').bind('contextmenu', function (e) {
                return false;
            });
            var lcation = window.location.href;
            //if(lcation.indexOf("/tr") != -1)
            //{
               
                //$("#linkfeaturedproperties").attr("href", "#");
                //$("#linkadvancedsearch").attr("href", "#");
                //$("#linkleaveyourbrief").attr("href", "#");
            //}

            $.ajax({
                url: '/FHome/GetImages',
                success: function (data) {
                    if (data != "") {
                        $.supersized({
                            // Functionality
                            slideshow: 1,			// Slideshow on/off
                            autoplay: 1,			// Slideshow starts playing automatically
                            start_slide: 1,			// Start slide (0 is random)
                            stop_loop: 0,			// Pauses slideshow on last slide
                            random: 0,			// Randomize slide order (Ignores start slide)
                            slide_interval: 6000,		// Length between transitions
                            transition: 1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
                            transition_speed: 1000,		// Speed of transition
                            new_window: 1,			// Image links open in new window/tab
                            pause_hover: 0,			// Pause slideshow on hover
                            keyboard_nav: 1,			// Keyboard navigation on/off
                            performance: 1,			// 0-Normal, 1-Hybrid speed/quality, 2-Optimizes image quality, 3-Optimizes transition speed // (Only works for Firefox/IE, not Webkit)
                            image_protect: 1,			// Disables image dragging and right click with Javascript

                            // Size & Position						   
                            min_width: 0,			// Min width allowed (in pixels)
                            min_height: 0,			// Min height allowed (in pixels)
                            vertical_center: 1,			// Vertically center background
                            horizontal_center: 1,			// Horizontally center background
                            fit_always: 0,			// Image will never exceed browser width or height (Ignores min. dimensions)
                            fit_portrait: 1,			// Portrait images will not exceed browser height
                            fit_landscape: 0,			// Landscape images will not exceed browser width

                            // Components							
                            slide_links: false,	// Individual links for each slide (Options: false, 'num', 'name', 'blank')
                            thumb_links: 0,			// Individual thumb links for each slide
                            thumbnail_navigation: 0,			// Thumbnail navigation
                            slides: data
                            //[			// Slideshow Images
                            //                                { image: '/images/mainslider/slider_01.jpg' },
                            //                                { image: '/images/mainslider/slider_02.jpg' },
                            //                                { image: '/images/mainslider/slider_03.jpg' },

                            //]
                            ,
                            // Theme Options			   
                            progress_bar: 0,			// Timer for each slide							
                            mouse_scrub: 0

                        });
                    }
                }
            });

        });

    </script>
     @{ Html.RenderAction("_googleanalytics", "FHome"); }
</body>
</html>
