@model web.Models.ServiceWrapperModel
@{
    ViewBag.Title = @SharedRess.SharedStrings.services;
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
<style>
    .serviceContent { min-height:400px;}
</style>
<div class="servicesContent">
    <div class="serviceImage">
        <img src="../images/serviceImage.jpg" alt="servisler" /></div>
    <h1 class="services">@SharedRess.SharedStrings.ourservices</h1>
    <div class="servicesLeftContent">
        <ul class="serviceList">
            <li>@SharedRess.SharedStrings.services
            <ul class="subServiceList">
                @foreach (var item in Model.services)
                {
                    <li><a href="#">@item.Name</a></li>
                }
            </ul>
            </li>
        </ul>
    </div>
    <div class="servicesRightContent">
            @foreach (var item in Model.services)
                {
                    <div class="serviceContent">
                        <h3>@item.Name</h3>
                        @Html.Raw(item.Content)
                    </div>
                }
    </div>
</div>

<script type="text/javascript">
    $(function () {

        // İlk li'ye aktif classı ekle
        $(".subServiceList li:first").addClass("aktif");

        // Tüm tab içeriklerini gizle
        $(".serviceContent").hide();

        // İlk tab içeriğini göster
        $(".serviceContent:first").show();

        // Tab'daki lilerden herhangi birine tıklandığında
        $(".subServiceList li").hover(function (e) {

            // indis değerini al
            var index = $(this).index();

            // tabdaki aktif classlarını sil
            $(".subServiceList li").removeClass("aktif");

            // Tıklanan li'ye aktif classını ata
            $(this).addClass("aktif");

            // Tüm tab içeriklerini gizle
            $(".serviceContent").hide();

            // Indis değerine sahip tab içeriğini göster
            $(".serviceContent:eq(" + index + ")").show();

            return false

        });



    });
</script>
