@model IEnumerable<DAL.Entities.News>
@{
    ViewBag.Title = @SharedRess.SharedStrings.news.ToUpper();
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
<div id="containerInner">
    <div id="content">
        <div class="fullSection">
            <h1>@SharedRess.SharedStrings.onpress.ToUpper()</h1>
        </div>
        @foreach (var item in Model)
        {
            <div class="marketAnalysisContent">
                <h1>@item.Header</h1>
                <div class="analysisLeft">
                    <img width="286" height="210" src="@item.NewsImage" alt="@item.Header" />
                </div>
                <div class="analysisRight">
                    @Html.Raw(item.Content)
                </div>
            </div>
        }
    </div>
</div>
